@charset 'utf-8';
@import './variables.scss';


////////////////////////////////////////////////////////////////
// page content
////////////////////////////////////////////////////////////////
.page-content {
    position: relative;
    top: 64px;
    left: 0;
    letter-spacing: 0.1rem;
    max-width: 800px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 128px;
}
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////






////////////////////////////////////////////////////////////////
// modal overlay
////////////////////////////////////////////////////////////////
.popup-overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.enter.popup-overlay {
    opacity: 0;
}
.enter-active.popup-overlay {
    transition: all 0.3s ease-in-out;
    opacity: 1;
}
.enter-done.popup-overlay {
    opacity: 1;
}
.exit.popup-overlay {
    opacity: 1;
}
.exit-active.popup-overlay {
    transition: all .3s ease-in-out;
    opacity: 0;
}
.exit-done.popup-overlay {
    opacity: 0;
}
body:has(.popup-overlay) {
    overflow: hidden;
}
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////






////////////////////////////////////////////////////////////////
// page transition
////////////////////////////////////////////////////////////////
// .page-content div {
//     &.enter {
//         opacity: 0;
//         position: absolute;
// }
//     &.enter-active {
//         opacity: 1;
//         transition: all .3s .3s ease-in-out;
//     }
//     &.exit {
//         opacity: 1;
//         position: absolute;
//     }
//     &.exit-active {
//         opacity: 0;
//         transition: all .3s ease-in-out;
//     }
// }
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////






.btn-wrapper {
    @include btn-design(172px, 38px, 1.2rem);
}